= form_for @profile do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @profile.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label "Organization"
    = f.select(:org, Organization.all.collect{|org| [org.num + " " + org.name, org.num]}, {prompt: 'Select an organization'})
  .field
    = f.label "Second Organization"
    = f.select(:org2, Organization.all.collect{|org| [org.num + " " + org.name, org.num]}, {prompt: 'Select an organization'})
  .field
    = f.label "Graduate Student"
    = f.check_box :grad
  .actions
    = f.submit 'Save', :class=> 'btn bg-dark text-light white'
