= form_for @profile do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @profile.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Organization
    = f.number_field :org
  .field
    = f.label "Organization 2"
    = f.number_field :org2
  .field
    = f.label "Grad Student"
    = f.radio_button(:grad, "Yes")
  .field
    = f.label "Manager ID"
    = f.number_field :manager_id
  .actions
    = f.submit 'Save'
