%p#notice= notice

%p
  %b Privilege:
  = @profile.privilege
%p
  %b Org:
  = @profile.org
%p
  %b Org2:
  = @profile.org2
%p
  %b Grad:
  = @profile.grad
%p
  %b Manager:
  = @profile.manager_id
%p
  %b User:
  = @profile.user

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
