%h1 Employee Dashboard
%br
%h2 My Timesheets
%table#timetables.table.table-striped.col-md-12
  %thead
    %tr
      %th Time In
      %th Time Out
      %th Notes
      
  %tbody
    - @timetables.each do |timetable|
      %tr
        %td
          = timetable.time_in
        %td
          = timetable.time_out
        %td
          = timetable.notes
        %td
          = link_to "Edit", edit_timetable_path(timetable)
			  %td
          = link_to "Delete", delete_timetable_path(timetable)
				


.row
  = link_to 'Clock In', new_timetable_path, class: 'btn btn-light bg-dark text-light white row_with_padding'
  - p Timetable.find_most_recent
  = link_to 'Clock Out',edit_timetable_path(Timetable.find_most_recent),class: 'btn btn-light bg-dark text-light white row_with_padding'
