%h1#name
  = "#{current_user.name}'s Timesheet"
%h4#orgs
  - if @profile.org != nil
    = "Group/Org#: #{@profile.org}"
  - if @profile.org2 != nil
    %br
    = "Additional Group/Org#: #{@profile.org2}"
  - if @profile.grad != nil
    %br
    - if @profile.grad == 0
      = "Graduate Student: No"
    - else
      = "Graduate Student: No"
%br
.printer   
  To find the payroll calendar dates, look
  = link_to "here.", "https://drive.google.com/file/d/17FbqNZ2WGDTR2LiZu4XNgQOiMNJSChH1/view"
%br
.printer
  %h6 Date Selector
  = form_tag timetables_path, method: :get, id: 'dates_form' do
    = label_tag :fromdate, "From: "
    
    - if @fromdate != nil
      = date_select "timetable", "fromdate", selected: @fromdate
    - else
      = date_select "timetable", "fromdate"
      
    = label_tag :todate, "To: "
    
    - if @todate != nil
      = date_select "timetable", "todate", selected: @todate
    - else
      = date_select "timetable", "todate"
      
    = submit_tag 'Refresh', id: 'dates_submit', class: 'btn btn-light bg-dark text-light white'

%br
.clockinbutton
  - if @found_clocked == 0
    = link_to 'Clock In', new_timetable_path, class: 'btn btn-light bg-primary text-light white'
    
%table#timetables.table.table-striped.col-md-12
  %thead
    %tr
      %th Time In
      %th Time Out
      %th Hours
      %th Notes
      %th
      %th
      
  %tbody
    - @timetables.each do |timetable|
      %tr
        %td
          = timetable.time_in.strftime("%m/%d/%Y - %l:%M %p")
        %td
          - if timetable.time_out != nil
            = timetable.time_out.strftime("%m/%d/%Y - %l:%M %p")
        %td
          - if timetable.time_out != nil
            -#= ((timetable.time_out.to_time - timetable.time_in.to_time) / 3600).round(2)
            = (((((timetable.time_out.to_time - timetable.time_in.to_time) / 3600)*4).round())/4.0).round(2)
        %td
          = timetable.notes
        %td
          - if timetable.time_out != nil
            = link_to "Edit", edit_timetable_path(timetable), class: 'btn btn-primary text-light white'
        %td
          - if timetable.time_out != nil
            = link_to 'Delete', timetable_path(timetable), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger'
          - else
            = link_to 'Clock Out', edit_timetable_path(timetable),class: 'btn btn-light bg-dark text-light white'

%table#timetables.table.col-md-4.some{:style => "margin-left: 67%; text-align: right;"}
  %thead
    %tr
      %th Total Days: #{@total_days}
      %th Total Hours: #{@total_hours}
      
.signatures
  %h4
    %br
    I certify to the best of my knowledge the hours and wages listed above are correct.
.signatures
  %h4
    %br
    Employee Signature:___________________________________________  Date:_______________________
    %br
    %br
    Manager Signature:____________________________________________  Date:_______________________
.printer.some{:style => "margin-left: 89%;"}
  = link_to 'Print Timesheet', '/timetables', :onclick => 'window.print();return false;',class: 'btn btn-light bg-dark text-light white'