%h1 Employee Dashboard
%br
%h2 My Timesheets
%table#timetables.table.table-striped.col-md-12
  %thead
    %tr
      %th Time In
      %th Time Out
      %th Notes
      
  %tbody
    - @timetables.each do |timetable|
      %tr
        %td
          = timetable.time_in
        %td
          = timetable.time_out
        %td
          = timetable.notes
        %td
          = link_to "Edit", edit_timetable_path(timetable)
        %td
          - if timetable.time_out != nil
            = link_to 'Delete', timetable_path(timetable), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-6'
          - else
            = link_to 'Clock Out', clock_out_timetable_path(timetable),class: 'btn btn-light bg-dark text-light white row_with_padding'

.row
  = link_to 'Clock In', new_timetable_path, class: 'btn btn-light bg-dark text-light white row_with_padding'
  - p Timetable.find_most_recent
  = link_to 'Clock Out',class: 'btn btn-light bg-dark text-light white row_with_padding'
