%p#notice= notice

%p
  %b Start:
  = @timetable.time_in
%p
  %b End:
  = @timetable.time_out
%p
  %b Notes:
  = @timetable.notes

.row
= link_to 'Back to Dashboard', timetables_path, class: 'btn btn-light bg-dark text-light white'
= link_to 'Clock Out', clock_out_timetable_path(@timetable), class: 'btn btn-light bg-dark text-light white'
