%h2 Register Here

%form
  = label :user, :email, "Email:"
  %br
  = text_field :user, :email
  %br
  %br
  = label :user, :password, "Password:"
  %br
  = password_field :user, :password
  %br
  %br
  = label :user, :confirm_password, "Confirm Password:"
  %br
  = password_field :user, :confirm_password
  %br
  %br
  %input{:type => "submit", :value => "Register", class: 'btn btn-light bg-dark text-light white primary-button'}